<p id="notice"><%= notice %></p>
<!-- SHOW THE BLOG POST -->
<div class="container">
	<h1><%= @blog.title %></h1>
	<p>by <%= @blog.creator %> on <%= @blog.date %></p>

	<p>
	  <%= @blog.body %>
	</p>

	<%= link_to 'Edit', edit_blog_path(@blog) %> |
	<%= link_to 'Back', blogs_path %>
</div>
<!-- FORM FOR CREATING COMMENTS -->
<div class="container">
	<h2>Add a comment:</h2>
	<%= form_for([@blog, @blog.comments.build]) do |f| %>
		<p>
			<%= f.label :commenter %><br>
			<%= f.text_field :commenter %>
		</p>
		<p>
			<%= f.label :body %><br>
			<%= f.text_area :body %>
		</p>
		<p>
			<%= f.submit %>
		</p>
	<% end %>
</div>
<!-- SHOW THE COMMENTS ALREADY MADE -->
<div class="container">
<% @blog.comments.each do |comment| %>
	<p>
		<strong>Commenter:</strong>
		<%= comment.commenter %> says:
	</p>
	<p>
		<%= comment.body %>
	</p>
	<!-- MAKE IT POSSIBLE TO DELETE A COMMENT -->
<%= link_to 'Delete', [comment.blog, comment],
	method: :delete,
	data: { confirm: 'Are you sure?' } %>
<% end %>

