<%= form_tag(form_output_path) do %>
    <div>
        <%= label_tag 'name', 'Name' %>
        <%= text_field_tag 'name', nil, placeholder: 'Your Name!' %>
    </div>
   <div>
       <%= label_tag 'email', 'Email' %>
       <%= email_field_tag 'email', nil, placeholder: 'Your Email Address' %>
   </div>
   <div>
       <%= label_tag 'message', 'message' %>
       <%= text_area_tag 'message', nil, rows: 4, placeholder: 'Message...' %>
   </div>
   <%= submit_tag "Submit" %>
<% end %>