<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h1><%= @user.full_name %></h1> <!-- CHANGE TO FULL_NAME ONCE DEVISE FIELDS ARE ADDED AND CONTROLLER UPDATED -->
    </div>
    <div class="col-sm-6">
      <h1><%= @user.streak %></h1> <!-- CHANGE TO FULL_NAME ONCE DEVISE FIELDS ARE ADDED AND CONTROLLER UPDATED -->
    </div>
  </div>
  
  <% if user_signed_in? && @user == current_user %>
  <div class="row">
    <div class="col-sm-12">
      <h2>Create a new goal</h2>
      <%= form_for(@goal) do |f| %>
        <div class="form-group">
          <%= f.text_area :content, class: 'form-input input-large', rows: 2, cols: 50 %>
        </div>
        <%= f.submit "Save", class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>
  <% end %>
  
  
  <% @user.goals.order(created_at: :desc).each do |goal| %>
    <%= render goal %>
  <% end %>
</div>

