<!--FORM-->
<main class="container contact">
  <h1>Contact</h1>
  <%= flash[:notice] %>
  <p class="lead">Call me personally, or drop a quick email about any questions or comments you have!</p>
  
  <%= form_tag("/pages/thank_you") do %>
      <div class="row">
          <div class="col-md-4">
              <div class="form-group">
                  <%= label_tag :name, "Name" %>
                  <%= text_field_tag :name, nil, class: 'form-control', placeholder: 'Enter Name' %>
              </div>
              <div class="form-group">
                  <%= label_tag :message, 'Message' %>
                  <%= text_field_tag :email, nil, class: 'form-control', placeholder: 'Enter Email' %>
              </div>
              <div class="form-group">
                  <%= label_tag :message, 'Message' %>
                  <%= text_area_tag :message, nil, class: 'form-control', placeholder: 'Enter Message' %>
              </div>
          </div>
      </div>
      <%= submit_tag 'Send Message' %>
  <% end %>
  
</main>