<div class="jumbotron background-image-8">
  <main class="container contact" style="height:800px; width: 600px;">
    <h1>Contact</h1>
    <%= flash[:notice] %>
    <p class="lead">Drop a quick email about any questions or comments you have!</p>
    
    <%= form_tag("/contact_thank_you") do %>
      <div class="row">
        <div class="col-md-5">
          <div class="form-group">
              <%= text_field_tag :first_name, nil, class: 'form-control', placeholder: 'First Name' %>
          </div>
        </div>
        <div class="col-md-7">
          <div class="form-group">
              <%= text_field_tag :last_name, nil, class: 'form-control', placeholder: 'Last Name' %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <%= text_field_tag :email, nil, class: 'form-control', placeholder: 'Email Address' %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group text-area-wide">
            <%= text_area_tag :message, nil, class: 'form-control text-area-wide', placeholder: 'Your message here.' %>
          </div>
        </div>
      </div>
      <%= submit_tag 'Get Started', class: 'btn btn-success' %>
    <% end %>
    
  </main>
</div>