<div class="jumbotron background-image-7" style="height:1300px;">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-5 col-md-7 for-background-white">
        <h2>How We're Different</h2>
        <h3>Enabling, Not Dependency-Creating</h3>
        <ol class="lead">
          <li>At the end of three months, you will have a tried and tested weight loss program that works for you</li>
          <li>You do not have to buy any high-margin food items</li>
          <li>Our consultant gives you the tools to control your weight not just when you're on the program, but for your whole life</li>
        </ol>
        <h3>Personal</h3>
        <ol class="lead">
          <li>Our consultants talk with you one-on-one over skype at times that fit your schedule</li>
          <li>Our consultants can be reached anytime over phone or email</li>
          <li>You never have to leave the comfort of your home to lose weight</li>
        </ol>
        <h3>Expert</h3>
        <ol class="lead">
          <li>Every consultant goes through a 4-week program covering nutrition, exercise and behavioral psychology</li>
          <li>You can always ask for links to the scientific studies that inform our recommendations</li>
          <li>Our consultants are paid based on your satisfaction.  They care deeply about your satisfaction and achievement.</li>
        </ol>
        <h3>Give it a try.</h3>
        <p>Get in contact to schedule a free session.</p>
        <div class="row">
              <div class="col-md-12">
                <%= form_tag("/how_we_re_different_thank_you") do %>
                  <div class="row">
                    <div class="col-md-5">
                      <div class="form-group">
                          <%= text_field_tag :first_name, nil, class: 'form-control', placeholder: 'First Name' %>
                      </div>
                    </div>
                    <div class="col-md-7">
                      <div class="form-group">
                          <%= text_field_tag :last_name, nil, class: 'form-control', placeholder: 'Last Name' %>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <%= text_field_tag :email, nil, class: 'form-control', placeholder: 'Email Address' %>
                      </div>
                    </div>
                  </div>
                  <!--<div class="row">-->
                  <!--  <div class="col-md-12">-->
                  <!--    <div class="form-group text-area-wide">-->
                  <!--      <%# text_area_tag :message, nil, class: 'form-control text-area-wide', placeholder: 'When are you available?' %>-->
                  <!--    </div>-->
                  <!--  </div>-->
                  <!--</div>-->
                  <%= submit_tag 'Get in contact', class: 'btn btn-success' %>
                  <p>We will never share or sell your personal information.  Check out our <%= link_to 'privacy policy', privacy_policy_path %>.</p>
                <% end %>
                <br>
              </div>
            </div>
      </div>
    </div>
  </div>
</div>