<div class="jumbotron background-image-9" style="height:1200px;">
    <div class="container white">
        <div class="for-background-dark col-md-5">
            <h1 class="text-center">Lose Weight.</h1>
            <p class="lead" >Be connected with an expert, helpful, and friendly consultant who cares about your achievement.</p>
            <h3>Process</h3>
            <p>We work with you on a one-on-one basis over Skype to consult with you on creating effective strategies to lose weight in a safe, healthy, and effective way.  We work with your schedule and take weekly satisfaction inventories to ensure we're giving you the dedicated service you deserve.</p>
            <h3>Methodology</h3>
            <p>We have used peer-reviewed science of maintaining motivation and constructing habits, losing weight and eating healthy to construct a framework for weight loss.  We work with you to customize the framework to your needs.</p>
            <h3>45 Day Money-Back Guarantee</h3>
            <p class="lead">See the <%= link_to 'FAQ', faq_path %> for full details.</p>
            <h3>$800 three month program</h3>
            <h3>Schedule a Free Session</h3>
            <p class="lead">Get started today.  It's on us.</p>
            <div class="row">
              <div class="col-md-12">
                <%= form_tag("/thank_you") do %>
                  <div class="row">
                    <div class="col-md-5">
                      <div class="form-group">
                          <%= text_field_tag :first_name, nil, class: 'form-control', placeholder: 'First Name' %>
                      </div>
                    </div>
                    <div class="col-md-7">
                      <div class="form-group">
                          <%= text_field_tag :last_name, nil, class: 'form-control', placeholder: 'Last Name' %>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <%= text_field_tag :email, nil, class: 'form-control', placeholder: 'Email Address' %>
                      </div>
                    </div>
                  </div>
                  <!--<div class="row">-->
                  <!--  <div class="col-md-12">-->
                  <!--    <div class="form-group text-area-wide">-->
                  <!--      <%# text_area_tag :message, nil, class: 'form-control text-area-wide', placeholder: 'When are you available?' %>-->
                  <!--    </div>-->
                  <!--  </div>-->
                  <!--</div>-->
                  <%= submit_tag 'Get Started', class: 'btn btn-success' %>
                  <p>We will never share or sell your personal information.  Please review our <%= link_to 'privacy policy', privacy_policy_path %>.</p>
                <% end %>
              </div>
            </div>
            <br>
        </div>
    </div>
</div>
