<div class="row goal">
  <div class="col-sm-12 goal_content">
    <h4><%= goal.content %></h4>
    <% if user_signed_in? && @user == current_user %>
      <div class="col-sm-12 comment">
        <% if goal.achieved_status? %>
          <div class="info-icons">
            <i class="fa fa-star fa-2x"></i>
            &nbsp;&nbsp;
          </div>
        <% else %>
          <%= link_to "Mark as achieved", achieve_goal_path(goal), method: :patch %> 
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="col-sm-12 goal_comments">
    <h6>Comments on this goal</h6>
    <% goal.goal_comments.each do |goal_comment| %>
      <div class="row goal">
         <div class="col-sm-5 comment">
           <em><strong><%= goal_comment.user.email %></strong></em> <!-- CHANGE TO FULL_NAME ONCE DEVISE FIELDS ARE ADDED AND CONTROLLER UPDATED -->
           <br>
           <%= goal_comment.content %>
         </div>
         
      </div>
      <br>
    <% end %>
    
    <% if user_signed_in? %>
      <div class="row">
        <div class="col-sm-10 col-sm-offset-2">
          <%= form_for(GoalComment.new) do |f| %> <!-- Why not @goal_comment from GoalCommentsController -->
            <%= f.hidden_field :goal_id, value: goal.id %>
            <%= f.text_area :content %>
            <%= f.submit "Comment" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
