<%= render '/layouts/header' %>

<% if user_signed_in? %>
  <li>You are logged in as <%= current_user.email %></li>
  <li><%= link_to 'log out', destroy_user_session_path, method: 'delete' %></li>
  
  <% if current_user.is_admin? %>
    <li><%= link_to 'admin panel', rails_admin_path %></li>
  <% end %>
  
<% else %>
  <li><%= link_to "Sign Up", new_user_registration_path %></li>
  <li><%= link_to "Sign In", new_user_session_path %></li>
<% end %>

<% flash.each do |key, value| %>
  <% if key == 'alert' %>
    <div class="alert alert-danger"><%= value %></div>
  <% elsif key == 'notice' %>
    <div class="alert alert-success"><%= value %></div>
  <% end %>
<% end %>

<%= yield %>

<%= render '/layouts/footer' %>
	