<%= render '/layouts/header' %>



<% flash.each do |key, value| %>
  <% if key == 'alert' %>
    <div class="alert alert-danger"><%= value %></div>
  <% elsif key == 'notice' %>
    <div class="alert alert-success"><%= value %></div>
  <% end %>
<% end %>

<%= yield %>

<%= render '/layouts/footer' %>
	